.idea/
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.pyc
*.pyo
*.pyd
*.so
*.egg
*.egg-info/
dist/
build/
.eggs/
.Python
env/
venv/
ENV/
.venv/
*.log
*.pot
*.pyc
*.pyo
*.pyd
.DS_Store
db.sqlite3
media/
staticfiles/
*.sqlite3
**/migrations/
.continue/